* {
    margin: 0;
    font-family: cursive;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    /* nwe */
    background-color: rgb(245, 242, 86);

}

.form {
    background-color: whitesmoke;
    padding: 20px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    border-radius: 10px;

}

.input {

    display: block;
    width: 100%;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    border: solid 4px rgb(29, 139, 29);
    
    color: rgb(29, 139, 29);
}

.input::placeholder{/* new */
    color: lightgrey;
}

.btn{
    background-color: rgb(29, 139, 29);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    cursor: pointer; /* new */
    
}

.btn:hover{
filter: brightness(0.9); /* new */
}


#q,.input,.btn{
    margin: 25px 0;
}

.score{
    color: rgb(231, 35, 35);
    text-align: right;
}